<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="text-right">
    {% load static %}
    {% include 'clinic/navbar.html' %}
    <div class="about-us-container flex flex-col md:flex-row-reverse mt-6">

        <div class="text-section w-full md:w-1/2 p-6">
            <h1 class="text-3xl text-pink-400 font-bold mb-4">"Elite Smile"عن عيادة </h1>

            <p class="text-lg mb-4">نحن في "Elite Smile" نؤمن بتقديم أعلى مستوى من الرعاية الصحية في مجال طب الأسنان. تأسسنا بهدف توفير خدمات طبية مبتكرة ومعتمدة عالميًا، باستخدام تقنيات حديثة لضمان صحة وراحة مرضانا.</p>

            <h2 class="text-2xl font-bold text-pink-500">رؤيتنا ورسالتنا</h2>
            <p class="text-lg mb-4">رؤيتنا أن نكون العيادة الرائدة في تقديم رعاية طبية مبتكرة، ورسالتنا هي توفير أعلى جودة من العلاج والخدمات لمرضانا في بيئة صحية وآمنة.</p>

            <h2 class="text-2xl font-bold text-pink-500">فريقنا الطبي</h2>
            <p class="text-lg mb-4">فريقنا يتكون من أطباء متخصصين في جميع مجالات طب الأسنان، وهم ملتزمون بتقديم أفضل رعاية ممكنة.</p>

            <h2 class="text-2xl font-bold text-pink-500">لماذا تختارنا؟</h2>
            <ul class="list-decimal list-none pl-4 text-right">
                <li>الجودة في تقديم الخدمات</li>
                <li>الابتكار في التقنيات الطبية</li>
                <li>الاهتمام الشخصي بكل مريض</li>
                <li>الراحة والأمان لمرضانا</li>
            </ul>
        </div>

        <div class="image-section w-full md:w-1/2 relative h-128 overflow-hidden p-6">
            <div id="image-carousel" class="relative w-full h-full">
                <img src="{% static 'img/img1.jpeg' %}" alt="image1" class="carousel-image w-full h-full absolute top-0 left-0 object-cover transition-opacity duration-1000 opacity-100" />
                <img src="{% static 'img/img2.jpeg' %}" alt="image2" class="carousel-image w-full h-full absolute top-0 left-0 object-cover transition-opacity duration-1000 opacity-0" />
                <img src="{% static 'img/img3.jpeg' %}" alt="image3" class="carousel-image w-full h-full absolute top-0 left-0 object-cover transition-opacity duration-1000 opacity-0" />
            </div>
        </div>
    </div>

    {% include 'clinic/footer.html' %}

    <script>
        let images = document.querySelectorAll('.carousel-image');
        let currentIndex = 0;
        setInterval(function() {
            images[currentIndex].style.opacity = 0;
            currentIndex = (currentIndex + 1) % images.length;
            images[currentIndex].style.opacity = 1;}, 3000);
    </script>
</body>
</html>
