<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
 <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">    
</head>
<body class="flex flex-col min-h-screen bg-gray-50 font-sans">

    <div dir="ltr" class="shadow-md bg-white">
        {% include 'doctor/navbardoctor.html' %}
    </div>

    <main class="flex-grow max-w-6xl mx-auto px-4 py-8" dir="rtl">
        <div class="bg-white shadow-lg rounded-lg p-6">
            <h1 class="text-3xl font-bold text-center text-black mb-8">قائمة جميع المستخدمين</h1>

            <div class="mb-4">
                <input type="text" id="searchInput" onkeyup="filterUsers()" placeholder="ابحث عن مستخدم..." class="w-full p-3 border border-gray-300 rounded-lg">
            </div>

            <div class="overflow-x-auto">
                <table class="min-w-full border border-gray-300 rounded-lg text-center shadow-sm">
                    <thead class="bg-gray-400 text-white px-6 py-2 rounded">
                        <tr>
                            <th class="py-3 px-6 border-b border-gray-300 text-sm font-semibold tracking-wide">الاسم</th>
                            <th class="py-3 px-6 border-b border-gray-300 text-sm font-semibold tracking-wide">رقم الجوال</th>
                            <th class="py-3 px-6 border-b border-gray-300 text-sm font-semibold tracking-wide">البريد الالكتروني</th>
                            <th class="py-3 px-6 border-b border-gray-300 text-sm font-semibold tracking-wide">الدور</th>
                            <th class="py-3 px-6 border-b border-gray-300 text-sm font-semibold tracking-wide">حذف مستخدم</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200 text-gray-700">
                        {% for user in users %}
                        <tr class="hover:bg-blue-50 transition duration-200 ease-in-out">
                            <td class="py-4 px-6">{{ user.first_name }} {{ user.last_name }}</td>
                            <td class="py-4 px-6">{{ user.phone }}</td>
                            <td class="py-4 px-6">{{ user.email }}</td>
                            <td class="py-4 px-6">{{ user.role }}</td>
                            <td class="py-4 px-6">
                                <a href="delete_patient/{{user.id}}" class="bg-white-500 hover:bg-red-600 text-white py-2 px-8 rounded">
                                    <button>🗑️</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <div class="p-16"></div>

    <footer class="text-center">
        {% include 'doctor/footer.html' %}
    </footer>
    <script src="../../static/js/all_users.js"></script>
</body>
</html>
