<!DOCTYPE html>
<html lang="ar" dir="rtr">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">
</head>

<body class="bg-gray-50">
    <nav class="bg-pink-300 shadow-md">
        <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16 items-center">

                <div class="relative inline-block">
                    <select id="settingsSelect" onchange="handleSelect(this)"
                        class="bg-pink-400 text-black text-center px-4 py-2 rounded-md font-medium focus:outline-none focus:ring-2 focus:ring-pink-600 hover:bg-pink-500">
                        <option selected disabled>الإعدادات</option>
                        <option value="/doctor/add_user_display">إضافة مستخدم</option>
                        <option value="/doctor/all_users">جميع المستخدمين</option>
                        <option value="/doctor/log_out" data-danger="true">تسجيل الخروج</option>
                    </select>
                </div>

                <div class="flex space-x-4">
                    <a href="{% url 'all_patients_display' %}"
                        class="text-gray-800 hover:text-white px-3 py-2 rounded-md text-md font-medium">جميع المرضى</a>
                    <a href="{% url 'messages_page' %}"
                        class="text-gray-800 hover:text-white px-3 py-2 rounded-md text-md font-medium">الرسائل </a>
                    <a href="/doctor/book_appointment"
                        class="text-gray-800 hover:text-white px-3 py-2 rounded-md text-md font-medium">إضافة موعد</a>
                    <a href="{% url 'add_patient' %}"
                        class="text-gray-800 hover:text-white px-3 py-2 rounded-md text-md font-medium">إضافة مريض</a>
                    <a href="{% url 'admin_main_page' %}"
                        class="text-gray-800 hover:text-white px-3 py-2 rounded-md text-md font-medium">الرئيسية</a>
                </div>
            </div>
        </div>
    </nav>

    <script src="../../static/js/navbardoctor.js"></script>

</body>

</html>