<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-50">
    <nav class="bg-pink-300 shadow-md">
        <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16 items-center">
                <div class="relative inline-block">
                    <select name="" id="" class="bg-pink-400 text-white px-4 py-2 rounded-md font-medium focus:outline-none focus:ring-2 focus:ring-pink-600 hover:bg-pink-500">
                        <option value="" class="text-gray-800 hover:text-white text-center" disabled selected>الإعدادات</option>
                        <option value="addUser" class="text-gray-800 hover:text-white text-center">إضافة مستخدم</option>
                        <option value="logout" class="text-gray-800 hover:text-white text-center"> 
                            <form action="/patient/log_out" method="post">
                                {%csrf_token%}
                                <button class="bg-pink-400 text-white px-4 py-2 rounded-md hover:bg-pink-500">تسجيل الخروج</button>
                            </form>
                        </option>
                    </select>
                </div>

                <div class="flex space-x-4">
                    <a href="{% url 'all_patients_display' %}" class="text-gray-800 hover:text-white px-3 py-2 rounded-md text-md font-medium">جميع المرضى</a>
                    <a href="{% url 'book_appointment' %}" class="text-gray-800 hover:text-white px-3 py-2 rounded-md text-md font-medium">إضافة موعد</a>
                    <a href="{% url 'add_patient' %}" class="text-gray-800 hover:text-white px-3 py-2 rounded-md text-md font-medium">إضافة مريض</a>
                    <a href="{% url 'working_hours' %}" class="text-gray-800 hover:text-white px-3 py-2 rounded-md text-md font-medium">أوقات الدوام</a>
                    <a href="{% url 'admin_main_page' %}" class="text-gray-800 hover:text-white px-3 py-2 rounded-md text-md font-medium">الرئيسية</a>
                </div>
            </div>
        </div>
    </nav>
</body>

</html>
