<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>أوقات دوام الطبيب</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body class="bg-gray-100 font-sans">

    <div dir="ltr">
        {% include 'doctor/navbardoctor.html' %}
    </div>

    <div class="max-w-5xl mx-auto p-6 bg-white shadow-md rounded-md mt-8">
        <h1 class="text-2xl font-bold mb-6 text-center">أوقات دوام الطبيب</h1>

        <form method="POST" action="{% url 'working_hours' %}">
            {% csrf_token %}
            <table class="table-auto w-full border text-center">
                <thead class="bg-gray-200">
                    <tr>
                        <th>اليوم</th>
                        <th>دوام</th>
                        <th>من</th>
                        <th>إلى</th>
                    </tr>
                </thead>
                <tbody>
                    {% for day in days %}
                    <tr class="border-t" >
                        <td>{{ day }}</td>
                        <td>
                            <input type="checkbox" name="active_days" value="{{ day }}" >
                        </td>
                        <td>
                            <input type="time" name="from_{{ day }}" class="border p-2 rounded w-full" >
                        </td>
                        <td>
                            <input type="time" name="to_{{ day }}" class="border p-2 rounded w-full">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
            <div class="text-center mt-4">
                <button type="submit" class="bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-700">حفظ المواعيد</button>
            </div>
        </form>
        
    </div>
    {% include 'clinic/footer.html' %}

</body>
</html>
