<!DOCTYPE html>
<html lang="ar" dir="rtl">
{% load static %}
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حجز موعد</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">
</head>
 
<body class="bg-gray-100 font-sans   ">
 
    <nav class="bg-pink-300 shadow-md relative h-auto py-3">
        <div class="container mx-auto px-4 flex flex-col md:flex-row items-center text:cennter justify-between space-y-4 md:space-y-0">
            <a href="/patient/patient_home_display" class="text-black text-lg font-semibold hover:underline">
                الرئيسية
            </a>
    
            <form action="/patient/log_out" method="post">
                {% csrf_token %}
                <button type="submit"
                    class="bg-white text-black px-4 py-2 rounded-md hover:bg-pink-100 focus:outline-none">
                    تسجيل الخروج
                </button>
            </form>
        </div>
    </nav>

    <div class="flex justify-center items-center h-80 w-full md:h-32 mt-3">
        <img src="{% static 'img/logo.png' %}" alt="logo"
            class="h-80 w-80 md:h-80 md:w-80 rounded-full object-cover">
    </div>
    
 
    <div class="container mx-auto mt-15 px-4">
        <div class="bg-white rounded-xl shadow-lg p-6 flex items-center justify-center">
            <h1 class="text-2xl md:text-3xl font-bold text-black text-center"> مرحبا {{ user.first_name }} سُعداء
                بزيارتك، ونتمنى لك تجربة طبية مريحة ومميزة</h1>
        </div>
    </div>
    <!-- Main Content -->
    <div class="container mx-auto py-12 px-4 grid md:grid-cols-2 gap-10">
        <!-- Appointment Form -->
        <div class="bg-white rounded-lg shadow-md p-8">
            <h2 class="text-2xl font-bold text-black mb-6 text-center">إضافة موعد جديد</h2>
            <form method="POST" action="/patient/book_appointment">
                {% csrf_token %}
                <div class="space-y-4">
 
                    <div>
                        <label for="doctor_id" class="block font-medium text-gray-700">اختر الطبيب</label>
                        <select id="doctor_id" name="doctor_id"
                            class="w-full mt-1 p-2 border rounded focus:outline-none focus:ring focus:ring-pink-200"
                            required>
                            <option disabled selected>-- اختر طبيب --</option>
                            {% for doctor in doctors %}
                            <option value="{{ doctor.id }}">{{ doctor.first_name }} {{ doctor.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
 
                    <div>
                        <label for="appointment_date" class="block font-medium "> اختيار التاريخ</label>
                        <input type="date" id="date-local" name="start_at_date" class="w-full p-2 border rounded "
                            required>
                    </div>
                    <div>
                        <label for="time" class="block font-medium text-gray-700">اختيار الوقت</label>
                        <select id="time" name="start_at_time"
                            class="w-full p-2 border rounded focus:outline-none focus:ring focus:ring-pink-200"
                            required>
                            <option disabled selected>اختر وقتًا</option>
                        </select>
                    </div>
 
                    <div>
                        <label for="service" class="block font-medium text-gray-700">سبب الزيارة</label>
                        <select name="the_service"
                            class="w-full mt-1 p-2 border rounded focus:outline-none focus:ring focus:ring-pink-200"
                            required>
                            <option disabled selected>-- اختر خدمة --</option>
                            <option value="تقويم الاسنان">تقويم الاسنان</option>
                            <option value="تبييض الاسنان">تبييض الاسنان</option>
                            <option value="حشوات الاسنان">حشوات الاسنان</option>
                            <option value="خلع الاسنان">خلع الاسنان</option>
                            <option value="علاج اللثة">علاج اللثة</option>
                            <option value="علاج الجذور">علاج الجذور</option>
                            <option value="تنظيف الاسنان">تنظيف الاسنان</option>
                            <option value="زراعة الاسنان">زراعة الاسنان</option>
                        </select>
                    </div>
 
                    <div>
                        <label for="notes" class="block font-medium text-gray-700">ملاحظات (اختياري)</label>
                        <textarea name="notes" rows="3"
                            class="w-full p-2 border rounded focus:outline-none focus:ring focus:ring-pink-200"></textarea>
                    </div>
 
                    <div class="text-center">
                        <button type="submit" class="bg-pink-500 text-white px-6 py-2 rounded hover:bg-pink-600">إضافة
                            الموعد</button>
                    </div>
 
                </div>
            </form>
 
            {% if error_messages %}
            <div class="bg-red-100 text-red-700 p-4 rounded mt-4">
                <ul>
                    {% for field, msg in error_messages.items %}
                    <li>{{ msg }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
 
        <!-- Appointment List -->
        <div class="bg-white rounded-lg shadow-md p-8">
            <h3 class="text-xl font-semibold mb-4 text-gray-700 text-center">تفاصيل الزيارات</h3>
            {% if appointments %}
            <!-- Scrollable area -->
            <div class="space-y-4 max-h-[500px] overflow-y-auto pr-2">
                {% for appointment in appointments %}
                <div class="border border-pink-200 p-4 rounded-md bg-pink-50">
                    <p><span class="font-bold text-pink-500">التاريخ:</span> {{ appointment.end_at_date }}</p>
                    <p><span class="font-bold text-pink-500">الوقت:</span> {{appointment.start_at_time }} </p>
                    <p><span class="font-bold text-pink-500">الخدمة:</span> {{ appointment.the_service }}</p>
                    <p><span class="font-bold text-pink-500">الملاحظات:</span> {{ appointment.notes }}</p>
                    <p><span class="font-bold text-pink-500">الطبيب:</span> {{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}</p>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-center text-gray-600">لا توجد زيارات حالياً.</p>
            {% endif %}
        </div>
        
    </div>
 

    <div class="p-20"></div>
    <div dir="ltr">
        {% include 'clinic/footer.html' %}
    </div>
    <script src="../static/js/patient_home_page.js"></script>
</body>
</html>